@{
    ViewData["Title"] = "BetRecord";
}

<div class="container-fluid">
    <h1>
        注單紀錄
        <button class="col-sm-auto btn btn-primary mb-1" onclick="app.search()">
            <i class="fa-solid fa-arrows-rotate"></i>
        </button>
    </h1>
    <table id="oTable" class="table table-hover">
        <thead>
            <tr>
                <th>注單號</th>
                <th>桌別</th>
                <th>輪號</th>
                <th>局號</th>
                <th>注區</th>
                <th>下注</th>
                <th>有效下注</th>
                <th>輸贏</th>
                <th>賠率</th>
                <th>下注時間</th>
                <th>結算時間</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <link rel="stylesheet" type="text/css" href="~/lib/datatables.net-bs5/datatables.min.css" />
    <script type="text/javascript" src="~/lib/datatables.net-bs5/datatables.min.js"></script>
    <script type="text/javascript" src="~/js/tableDefine.js"></script>

    <script>
        var app = function() {
            var ot = new SDTableObj();

            function search() {
                var oTable = $('#oTable');
                var oTableOption = {
                    order: [[0, "desc"]],
                    ajax: {
                        url: '@Url.Content("~/api/RcgService/SearchBetRecord")',
                        type: 'POST',
                        dataType: "JSON",
                    },
                    columns: [
                        {
                            data: 'id'
                        },
                        {
                            data: 'desk'
                        },
                        {
                            data: 'runNo'
                        },
                        {
                            data: 'activeNo'
                        },
                        {
                            data: 'betArea'
                        },
                        {
                            data: 'bet',
                            orderable: false
                        },
                        {
                            data: 'available',
                            orderable: false
                        },
                        {
                            data: 'winLose',
                            orderable: false,
                            render: function(data, type, row, meta) {
                                if (data >= 0) {
                                    return `<span class="text-success">${data}</span>`;
                                } else {
                                    return `<span class="text-danger">${data}</span>`;
                                }
                            }
                        },
                        {
                            data: 'odds',
                            orderable: false
                        },
                        {
                            data: 'dateTime',
                            render: function(data, type, row, meta) {
                                return datetimeFormat(data);
                            }
                        },
                        {
                            data: 'reportDT',
                            render: function(data, type, row, meta) {
                                return datetimeFormat(data);
                            }
                        },
                    ],
                };

                ot.search(oTable, oTableOption);
            }

            function datetimeFormat(datetimeString) {
                if (datetimeString == null) {
                    return '';
                }
                var d = new Date(datetimeString);
                var dformat =
                    [d.getFullYear(),
                    (d.getMonth() + 1).toString().padStart(2, '0'),
                    d.getDate().toString().padStart(2, '0')].join('-') +
                    ' ' +
                    [d.getHours().toString().padStart(2, '0'),
                    d.getMinutes().toString().padStart(2, '0'),
                    d.getSeconds().toString().padStart(2, '0')].join(':');

                return dformat;
            }

            return {
                init: function() {
                    search();
                },
                search: function() {
                    search();
                }
            }
        }();

        $(document).ready(app.init);
    </script>
}