@{
    ViewData["Title"] = "PointManage";
}

<div class="container-fluid">
    <h1>點數管理</h1>
    <div class="mb-3 row">
        <label for="inputPassword" class="col-sm-auto col-form-label">存入點數至RCG</label>
        <div class="col-sm-auto">
            <input type="password" class="form-control" id="inputPassword">
        </div>
        <button class="col-sm-auto btn btn-success">存錢</button>
    </div>
    <div class="mb-3 row">
        <label for="inputPassword" class="col-auto col-form-label">從RCG取回點數</label>
        <div class="col-sm-auto">
            <input type="password" class="form-control" id="inputPassword">
        </div>
        <button class="col-sm-auto btn btn-danger">取款</button>
    </div>
</div>

@section Scripts{
    <script>

    </script>
}